.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    transition: transform 1s ease-out;
}

.nav-item {
    float: left;
}

.nav-item-link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    position: relative;
    padding: 10px;
}

.nav-item-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
    transition: all .3s;
}

.nav-item-link:hover:after {
    width: 100%;
}