.project {
    background-color: #1a1a1a;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    
}

.heading h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.stack-container {
    display: flex;
    gap: 10px;
    opacity: 0.5;
}

.stack-item {
    background-color: #0f0f0f;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
}

.stack-container p {
    margin: 0;
}