@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    background-color: black;
    color: white;
}